<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="fragments/layoutMain">

<head></head>

<body>
	<div layout:fragment="content">
		<div class="row">
	    	<div class="col-sm-12 bg">
	      		<div class="row">
	      			Parabéns! Você terminou o nível!<br />
	      			Parabéns! Você terminou o nível 1!
					Continue seus estudos e aprimore seu conhecimento com informações direcionadas para suas características pessoais 
					que são fundamentais para seu sucesso. "Continue fazendo a diferença em sua vida"<br />
	      			A porcentagem de acertos no último teste foi de <span th:text="${grade}"></span>%.<br /><br />
	      		</div>
	      		<!--<div class="row">
	      			O seu diploma de conclusão de nível está disponível <a th:href="@{'/diploma/'+${diploma.code}}">aqui</a>.
	      		</div>-->
	    	</div>
	  	</div>
	</div>
</body>
</html>